<% extend 'layout.html' %>
<!-- views/ribbon.html -->

<link rel="stylesheet" href="http://bxslider.com/lib/jquery.bxslider.css" type="text/css" />
<link rel="stylesheet" href="http://bxslider.com/css/styles.css" type="text/css" />
<!-- <link rel="stylesheet" href="http://bxslider.com/css/github.css" type="text/css" /> -->


<h2> App Ribbon </h2>

<div id="ribbon-container">
	<ul class="slider2" id="ribbon">
	</ul>
</div>



<table id="available_apps" class="table table-striped">

</table>


<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.2/coffee-script.min.js"></script>
<script src="http://bxslider.com/lib/jquery.bxslider.js"></script>
<script src="http://bxslider.com/js/rainbow.min.js"></script>
<script src="http://bxslider.com/js/scripts.js"></script>

<script type="text/javascript">
// $(document).ready(function(){
		function show_ribbon() {
		  $('.slider2').bxSlider({
		    slideWidth: 100,
		    minSlides: 14,
		    maxSlides: 14,
		    slideMargin: 2
		  }).fadeIn("slow")
		  $('#ribbon').css('visibility','visible');
		 } // END show_ribbon
// });
</script>

  <!-- CoffeeScript -->
<script type="text/coffeescript">
  $ ->
		$.getJSON '/apps.json', (apps) -> # '/appsjson', (apps) ->
			rows = '''<thead> <tr>  
            <th> </th>  
            <th>App Name</th>  
            <th>Description</th>  
            <th>Required</th> 
            <th>Visible on Ribbon</th>  
          </tr>  
        </thead> <tbody>'''
			ribbon = ''
			i = 1
			# build the ribbon
			for app in apps when app['Active__c'] == true
				ribbon += "<li class='slide'> <a href='#{app['Application_URL__c']}'>"
				ribbon +=	"<img src='#{app['Application_Icon_Url__c']}'></a> "
				ribbon += "<p class='appname'> #{app['Name']} </p> </li>"

			for app in apps when app['Active__c'] == true
				for k,v of app when i == 1
					console.log "#{k} : #{v}" # just so we have a list of the available fields
				rows += '<tr>'
				rows += "<td> <img src='#{app['Application_Icon_Url__c']}'> </td>"
				rows += "<td> #{app['Name']} </td>"
				rows += "<td> #{app['Description__c']} </td>"
				if app['Mandatory__c'] == true
					rows += "<td><i class='icon-ok'></i></td>"
				else
					rows += "<td></td>"
				rows += "<td> <button id='button_#{app['Id']}'type='submit' class='btn btn-danger'>Hide</button></td>"
				console.log "#{i++} | #{app['Id']} | #{app['Name']} | Mandatory: #{app['Mandatory__c']}"
				rows += '</tr>'
				i++
			console.log(rows)
			rows += '</tbody>'
			$('#available_apps').html(rows)
			$('#ribbon').html(ribbon)
			$('.bx-prev').css('left', '-42px')
			show_ribbon()
			# override .bx-viewport by giving it an id
			$('.bx-viewport').attr('id','ribbon_viewport')

</script>

 <div id="images">
 
</div>

<link rel="stylesheet" href="http://mpyc.s3.amazonaws.com/public/ribbon-custom.css" type="text/css" />