<!-- views/scripts.html -->

<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
<!-- see: https://github.com/aFarkas/html5shiv -->

<!-- For some Reason using cdnjs is rediculously slow on public wifi! :-(
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.2/coffee-script.min.js"></script>

  <script type="text/javascript" src="http://mpyc.s3.amazonaws.com/public/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="http://mpyc.s3.amazonaws.com/public/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="http://mpyc.s3.amazonaws.com/public/jasmine/jasmine-jquery-1.3.1.js"></script> 

-->
  <script type="text/javascript" src="/jquery.min.js"></script>
  <script type="text/javascript" src="/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="/coffee-script.min.js"></script>

  <script type="text/javascript" src="/jasmine.js"></script>
  <script type="text/javascript" src="/jasmine-html.js"></script>
  <script type="text/javascript" src="/jasmine-jquery-1.3.1.js"></script> 
  <!-- <script type="text/javascript" src="/backbone-min.js"></script> -->
  