<!-- views/styles.html -->
<!--
<link rel="stylesheet" type="text/css" href="http://mpyc.s3.amazonaws.com/public/jasmine/jasmine.css">
<link rel="stylesheet" type="text/css" href="http://mpyc.s3.amazonaws.com/bootstrap/css/bootstrap.min.css">	
-->
<!-- All Customisations 
<link rel="stylesheet" type="text/css" href="http://mpyc.s3.amazonaws.com/public/custom.css">
-->

<link rel="stylesheet" type="text/css" href="/jasmine.css">
<link rel="stylesheet" type="text/css" href="/bootstrap.min.css">	

<!-- All Customisations -->
<link rel="stylesheet" type="text/css" href="/custom.css">